header {
	border-bottom:1px solid #e3e3e3;
	text-align: center
}

/*footer {
	position:fixed;
	bottom:0px;
	border-top:1px solid #e3e3e3;
	width:100%;
	left:0px;
	text-align:center;
	padding:0px;
}*/

h1, p {
	text-align: center;
	color: white;
}

#picture {
	width:235px;
	height:300px;
	border-radius: 30%;
	margin-bottom:20px;
	padding:0px;
}

body {
	background-color: black;
	background-image: url('https://i.ytimg.com/vi/-UNvdTeMrk4/maxresdefault.jpg');
}

span {
	float: right;
	color:white;
}

#image {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
h2, h3, h4, a {
	color:white;
}